body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Escudo {
    width: 140px;
}

#navbar {
    background-color: #006437;
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticia {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}

.noticias {
    background-color: #006437;
    color: white;
    border: 6px solid #00ff8c;;
}

.img_noticia {
    width: 600px;
    height: 500px;
}