body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Escudo {
    width: 140px;
}

#navbar {
    background-color: #006437;
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticia {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.noticias {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #006437;
    color: white;
    border: 6px solid #00ff8c;;
}

.escalacao{
    text-align: center;
    background-color: #006437;
    color: white;
    margin: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo_escalacao{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#Gobatto{
    right: 0px;
    bottom: 0px;
    position: fixed;
    width: 150px;
}

#jogadores{
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
}
.jogador{
    text-align: center;
}

#icon_jogador{
    width: 60px;
}

.img_noticia {
    width: 600px;
    height: 500px;
}

footer {
    background-color: #006437;
    padding: 10px;
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}